<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>撞大运</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="closen">
<div class="toum"></div>
<div class="mydiv">
<div class="yzn">
<div class="close" onclick="document.getElementById('closen').style.display=(document.getElementById('closen').style.display=='none')?'':'none'" ><img src="/images/close.png" /></div>
<ul>
    <li class="yzn1"><img src="/images/yzm.png" /></li>
    <li class="yzn2"><img src="/images/collar.png" width="213" height="60"/></li>
    <li class="yzn3"><input value="填写以上信息" onfocus="javascript:if(this.value=='填写以上信息')this.value='';"/></li>
    <li class="yzn4"><img src="/images/collar.png" width="213" height="60"/></li>
    <li class="yzn3"><input value="填写以上信息" onfocus="javascript:if(this.value=='填写以上信息')this.value='';"/></li>
    <li class="yzn5"><img src="/images/collar.png" width="213" height="60"/></li>
    <li class="yzn3"><input value="填写以上信息" onfocus="javascript:if(this.value=='填写以上信息')this.value='';"/></li>
    <li class="lq"><img src="/images/lq.png"/></li>
</ul>
<div class="houj">您又获得1张奖券，可以在“我的奖券”中查看</div>
</div>
</div>
</div>

<div class="top">
<div class="topn">
 <div class="logo"><img src="/images/logo.png" /></div>
 <div class="chj">
 <ul>
 <li><a href="#">登录</a></li>
 <li><a href="#">注册</a></li>
 <li class="cjw"><a href="#">我的抽奖</a></li>
 <li class="cjc"><a href="#">抽奖规则</a></li>
 </ul>
 </div>
</div>
</div>

<div class="hao">
 <div class="haon">
 <div class="haonl"><img src="/images/luckNumber.png" /></div>
 <div class="haonc">
 <span>95331690</span>
 </div>
 <div class="haonr">
 <ul>
     <li>幸运数从何而来？</li>
     <li>幸运数如何决定谁获奖？</li>
 </ul>
 </div>
 </div>
</div>

<div class="center">
 <div class="tsw">
 <div class="tswl"><img src="/images/st1.jpg" width="526" height="466" />
 <div class="cjn"></div>
 <div class="cjnn">
 <ul>
     <li class="xcj">距离下一次抽奖还差：</li>
     <li class="cjs"><span>3000</span>/3814</li>
     <li class="cjt"><img src="/images/btn_coujiang_big.png" /></li>
 </ul>
 </div>
 </div>
 <div class="tswc">
 <ul>
     <li><img src="/images/st2.jpg" width="251" height="221" />
     <div class="tswf"></div>
     <div class="tswfn">
         <div class="tswfndiv"><span>3000</span>/3814</div>
         <div class="cjdt"><img src="/images/cuojiang.png" /></div>
     </div>
     </li>
     <li><img src="/images/st3.jpg" width="251" height="221" />
     <div class="xtpss"><span>3000</span>/3814</div>
     </li>
 </ul>
 </div>
 <div class="tswr"><img src="/images/st4.jpg" width="251" height="466" />
 <div class="xtpss"><span>3000</span>/3814</div>
 </div>
 </div>
 
 <div class="xtp">
  <ul>
     <li><img src="/images/xt1.jpg" width="251" height="221" />
     <div class="xtps"><span>3000</span>/3814</div>
     </li>
     <li><img src="/images/xt2.jpg" width="251" height="221" />
     <div class="xtps"><span>3000</span>/3814</div>
     </li>
     <li class="xtplr"><img src="/images/xt3.jpg" width="526" height="221" />
     <div class="xtps"><span>3000</span>/3814</div>
     </li>
  </ul>
 </div>
 <div class="clear"></div>
</div>

<div class="ad"><img src="/images/gg.jpg" width="1080" height="145"/></div>

<div class="footer">
 <div class="foot">
 <div class="footl"><img src="/images/logo_bottom.png" /></div>
 <div class="footr">
  <a href="#">撞大运规则说明</a>｜<a href="#">关于我们</a>｜<a href="#">招贤纳士</a>｜<a href="#">版本说明</a>｜<a href="#">第三方数据说明</a><br />
  <span class="banc">狗屎运公司版权所有 Copyright@2014</span>
 </div>
 </div>
</div>
</body>
</html>
